body{
	background-color: lightgrey;
}

h1{
color: orange;
font-size: 90px;
text-decoration: underline;

}

#first{
font-size: 150px;
}

h2{
font-size: 40px;
color: green;
}

.small{
font-size: 12px;
}

span{
font-style: italic;
}

h2 span{
text-decoration: line-through;
}